.styled-table {
    /* z-index: 0; */
    /* border:solid 2px #980ebb; */
    border-collapse: collapse;
    background-color: white;
    margin: 30px auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 900px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    height: auto;
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.styled-table tfoot tr {
    border-bottom: 1px solid #d39c9c;
}

.styled-table tfoot tr:nth-of-type(even) {
    background-color: #f38f8f;
}

.styled-button{
    height: 30px;
  background-color: #21abeb;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: rgb(24, 2, 2);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 1px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.styled-button:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.entry{
    text-align: center;
    color: white;
    font-weight: bold;
    height:auto;
}
.entry input{
    margin:20px;
    background-color: transparent;
    border:1px solid white;
    border-radius: 2rem;
    color:white;
    padding-left: 7px;
}
.entry select{
    margin:20px;
    width: 18%;
    border-radius: 2rem;
    padding-left: 7px;
    background-color: transparent;
    color:white;
}
.entry ::placeholder{
    padding-left: 7px;
    color:white;
}
.entry select option{
    color: black;
}